#group{
    height: 60px;
    width: 400px;

    display: inline-block;

    background: #f6f6f6;
    border: 2px solid #AAAAAA;
    border-radius: 10px;

    position: relative;
    top: -20px;
    left: 10px;

    /*position: absolute;*/
    /*top: 20px;*/
    /*left: 310px;*/
}

#group_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

#group_label{
    font-size: 20px;
    height: 25px;
}

#group_type{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.change_button{
    height: 35px;
    width: 200px;
    font-size: 20px;
    margin: 5px 0 2px 10px;
}

.single_group{
    width: 98%;
    border: 2px solid #AAAAAA;
    border-radius: 10px;
    background: #f9f9f9;

    margin: 20px 10px 20px 10px;
    padding-top: 10px;
}

.group_name{
    font-size: 30px;
    height: 35px;
    margin: 0 0 0 10px;
}

.task{
    width: 98%;

    border: 2px solid #AAAAAA;
    border-radius: 10px;
    background: #e0e0e0;

    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@keyframes start_task_unfold {
    from{
        height: 0;
        opacity: 0;
    }
    to{
        height: 100px;
        opacity: 100%;
    }
}

.task_start{
    height:100px;
    animation: 1s ease start_task_unfold;
}

@keyframes fold {
    from{height: 240px;}
    to{height: 100px;}
}

.task_folded{
    height:100px;
    animation: 1s ease fold;
    animation-iteration-count: 1;
}

@keyframes un_fold {
    from{
        height: 80px;
    }
    to{
        height: 240px;
    }
}

.task_not_folded{
    height: 240px;
    animation: 1s ease un_fold;
    animation-iteration-count: 1;
}

.task_expired{
    background: #e0d0d0;
}

.task_done{
    background: #d0e0d0;
}

.task_form{
    width:100%
}

.inline_parameters{
    width:100%;
    height:100px;

    background: #f6f6f6;
    border-bottom: 2px solid #AAAAAA;
    border-radius: 10px;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    animation: 1s ease start_task_unfold;
}

.inline_inputs_expired{
    background: #f6e6e6;
}

.inline_inputs_done{
    background: #e6f6e6;
}

.left_parameters{
    width: 100%;
    position: relative;
}

.left_parameters_start{
    opacity: 0;
    height: 0;
    top: -999999px;
}

@keyframes hide_left_parameters {
    from {
        opacity: 100%;
        top: 0;
        height: 120px;
    }
    to {
        opacity: 0;
        top: -100px;
        height: 0;
    }
}

.left_parameters_folded{
    opacity: 0;
    height: 0;
    /*display: none;*/

    animation: 1s ease;
    animation-name: hide_left_parameters;
    animation-iteration-count: 1;
    top: -999999px;
}

@keyframes show_left_parameters {
    from{
        opacity: 0;
        top: -100px;
        height: 0;
    }
    to{
        opacity: 100%;
        top: 0;
        height: 120px;
    }
}

.left_parameters_un_folded{
    opacity: 100%;
    height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    animation: 1s ease;
    animation-name: show_left_parameters;
    animation-iteration-count: 1;
    /*transition: top;*/
}

@keyframes hide_request_result {
    from {
        opacity: 100%;
        top: -25px;
    }
    to {
        opacity: 0;
        top: -100px;
    }
}

.request_result_folded{
    opacity: 0;
    /*display: none;*/

    animation: 1s ease;
    animation-name: hide_request_result;
    animation-iteration-count: 1;
    top: -999999px;
}

@keyframes show_request_result {
    from{
        opacity: 0;
        top: -100px;
    }
    to{
        opacity: 100%;
        top: -25px;
    }
}

.request_result_un_folded{
    opacity: 100%;

    animation: 1s ease;
    animation-name: show_request_result;
    animation-iteration-count: 1;
    /*transition: top;*/
}

.request_result{
    width: 100%;
    height: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    position: relative;
    top:-25px;
    pointer-events: none
}
/*#buttons{*/
/*    width:100%;*/
/*    display: inline-block;*/
/*}*/

/*#submit{*/
/*    font-size: 18px;*/
/*    height: 36px;*/
/*    width: 55%;*/
/*    position: relative;*/
/*    left: 21px;*/
/*    margin: 20px 0;*/
/*    display: inline-block;*/
/*    float: left;*/
/*}*/

/*#authorization{*/
/*    font-size: 18px;*/
/*    height: 36px;*/
/*    width: 30%;*/
/*    position: relative;*/
/*    right: 21px;*/
/*    margin: 20px 0;*/
/*    display: inline-block;*/
/*    float:right;*/
/*}*/
#create_task{
    display: inline-block;
    position: relative;
    font-size: 30px;
    height: 64px;
    width: 250px;

    margin: 10px 0 0 20px;
}


.inline_inputs, .inline_labels, .left_inputs, .left_labels{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.inline_labels, .left_labels{
    height: 50px;
}

.inline_input, .left_input{
    display:inline-block;
    font-size: 20px;
    height: 30px;
    min-height: 30px;
    width: 17%;
    padding: 0;
    margin: 0 0 10px 0;
}

.left_input{
    width: 12%;
}

.specific_select{
    width: 18%;
    height: 34px;
}

.description{
    font-size: 18px;
    width: 29%;
    height: 45px;
    overflow: auto;
}

.input_disabled{
    pointer-events: none;
}

.input_enabled{
    pointer-events: auto;
}

.disabled_forever{
    pointer-events: none;
    background: #eeeeee;
}

.focused{
    box-shadow: 0 0 5px 1px #3f9ae0 ;
    /*border: 2px solid #7786ed;*/
    border-width: 2px;
    border-style: outset;
    border-color: #7786ed;
    border-radius: 5px;
    outline: rgba(0,0,0,0);
}

.un_focused{
    /*border: 2px solid black;*/
    border-width: 2px;
    border-style: outset;
    border-color: #737373;
    border-radius: 5px;
}


.save_button{
    width: 14%;
    height: 50px;
    font-size: 20px;
    margin: 0 0 2px 0;
}

.inline_label, .left_label{
    font-size: 20px;
    height: 40px;
    width: 17%;
    position: relative;
    display: inline;
    margin: 5px 0 0 15px;
}

.left_label{
    width: 12%;
    margin: 0 0 10px 0;
}
/*.start_label{*/
/*    left: 20px;*/
/*}*/

/*@keyframes slide_on {*/
/*    from{top:0}*/
/*    to{top:36px}*/
/*}*/

/*.label_of_un_focused{*/
/*    top: 36px;*/
/*    animation: 0.5s ease slide_on;*/
/*    animation-iteration-count: 1;*/
/*}*/

/*@keyframes slide_off {*/
/*    from{top:36px}*/
/*    to{top:0}*/
/*}*/

/*.label_of_focused{*/
/*    top:0;*/
/*    animation: 0.5s ease slide_off;*/
/*    animation-iteration-count: 1;*/
/*}*/




.error {
    position:relative;
    right: 10px;
    height: 15px;
    font-size: 15px;
    margin: 0 0 0 0;
    display: inline-block;
    color: red;
}

.result{
    width: 12%;
}

.error_start{
    opacity: 0;
}

@keyframes show_up {
    from{opacity: 0}
    to{opacity: 1}
}

.error_active{
    opacity: 1;
    animation: 0.5s ease 1 show_up;
}

@keyframes fade_out {
    from{opacity: 1}
    to{opacity: 0}
}

.error_inactive{
    opacity: 0;
    animation: 0.5s ease 1 fade_out;
}

