.registration{
    width: 400px;
    height: 575px;
    border: 2px solid #AAAAAA;
    border-radius: 10px;
    margin: 30px auto;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
}

#buttons{
    width:100%;
    display: inline-block;
}

#submit{
    font-size: 18px;
    height: 36px;
    width: 55%;
    position: relative;
    left: 21px;
    margin: 20px 0;
    display: inline-block;
    float: left;
}

#authorization{
    font-size: 18px;
    height: 36px;
    width: 30%;
    position: relative;
    right: 21px;
    margin: 20px 0;
    display: inline-block;
    float:right;
}



input{
    font-size: 18px;
    height: 30px;
    width: 350px;
    margin: 6px auto;
}

.focused{
    box-shadow: 0 0 5px 1px #3f9ae0 ;
    /*border: 2px solid #7786ed;*/
    border-width: 2px;
    border-style: outset;
    border-color: #7786ed;
    border-radius: 5px;
    outline: rgba(0,0,0,0);
}

.un_focused{
    /*border: 2px solid black;*/
    border-width: 2px;
    border-style: outset;
    border-color: #737373;
    border-radius: 5px;
}

.label_start{
    top: 36px;
}

@keyframes slide_on {
    from{top:0}
    to{top:36px}
}

.label_of_un_focused{
    top: 36px;
    animation: 0.5s ease slide_on;
    animation-iteration-count: 1;
}

@keyframes slide_off {
    from{top:36px}
    to{top:0}
}

.label_of_focused{
    top:0;
    animation: 0.5s ease slide_off;
    animation-iteration-count: 1;
}

label{
    font-size: 20px;
    height: 20px;
    width: 340px;
    margin: 2px auto;
    position: relative;
    display: inline;
}


.error {
    width: 350px;
    height: 15px;
    font-size: 15px;
    margin: 0 auto;
    display: block;
    color: red;
}

.error_start{
    opacity: 0;
}

@keyframes show_up {
    from{opacity: 0}
    to{opacity: 1}
}

.error_active{
    opacity: 1;
    animation: 0.5s ease 1 show_up;
}

@keyframes fade_out {
    from{opacity: 1}
    to{opacity: 0}
}

.error_inactive{
    opacity: 0;
    animation: 0.5s ease 1 fade_out;
}

